.spacing {
    margin-bottom: 400px;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 5%;
}

header h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #00d2ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00d2ff;
}

table {
  margin-top: 25px;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  background-color: #313131;
  color: #ffffff;
}

th, td {
  border: 1px solid #00d2ff;
  padding: 10px;
}

th {
  background-color: #00d2ff;
  color: #313131;
  font-size: 20px;
}

td {
  font-size: 18px;
}

footer p {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: #ffffff;
}
